.e-row {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  min-height: 36px;
  font-size: 16px;
  text-align: center;
  &::after,&::before {
    display: table;
    content: "";
    clear: both;
  }
  padding: 0;

}



