$primary: #409EFF;
$hover-primary: #66B1FF;
$success: #67C23A;
$hover-success: #85CE61;
$info: rgba(56, 56, 59, 0.35);
$hover-info: #A6A9AD;
$warning : #E6A23C;
$hover-warning : #EBB563;
$danger: #F56C6C;
$hover-danger: #F78989;


$font-family-sans-serif: 'sans-serif', -apple-system, blinkmacsystemfont, 'Segoe UI',
roboto, 'Helvetica Neue', arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;
$font-family-monospace: sfmono-regular, menlo, monaco, consolas, 'Liberation Mono',
'Courier New', monospace !default;
$font-family-base: $font-family-sans-serif !default;


// 行高
$line-height-base: 1.5 !default;
$line-height-lg: 2 !default;
$line-height-sm: 1.25 !default;

//字体大小
$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg: $font-size-base * 1.25 !default;
$font-size-md: $font-size-base * 1 !default;
$font-size-sm: $font-size-base * .875 !default;

// 按钮基本属性
$btn-font-weight: 400;
$btn-padding-y: .375rem !default;
$btn-padding-x: .75rem !default;
$btn-font-family: $font-family-base !default;
$btn-font-size: $font-size-base !default;
$btn-line-height: $line-height-base !default;

$border-radius:1.25rem;


$btn-padding-y-sm: .25rem !default;
$btn-padding-x-sm: .5rem !default;
$btn-font-size-sm: $font-size-sm !default;

$btn-padding-y-md: .4rem !default;
$btn-padding-x-md: .75rem !default;
$btn-font-size-md: $font-size-md !default;

$btn-padding-y-lg: .5rem !default;
$btn-padding-x-lg: 1rem !default;
$btn-font-size-lg: $font-size-lg !default;




$border-radius: .25rem !default;
$border-radius-lg: .3rem !default;
$border-radius-md: .25rem !default;
$border-radius-sm: .2rem !default;

// 按钮 radius
$btn-border-radius: $border-radius !default;
$btn-border-radius-lg: $border-radius-lg !default;
$btn-border-radius-md: $border-radius-md !default;
$btn-border-radius-sm: $border-radius-sm !default;


//输入框
$input-height : 1rem !default;
$input-margin-y: .375rem !default;
$input-margin-x: .5rem !default;
$input-padding-y: .375rem !default;
$input-padding-x: .5rem !default;



//不同尺寸


// 大尺寸
$input-height-lg: 3rem !default;
$input-margin-y-lg: 0rem !default;
$input-margin-x-lg: 0rem !default;
$input-padding-y-lg: 0rem !default;
$input-padding-x-lg: .5rem !default;

// 中等尺寸
$input-height-md: 2rem !default;
$input-margin-y-md: .375rem !default;
$input-margin-x-md: .5rem !default;
$input-padding-y-md: 0rem !default;
$input-padding-x-md: .4rem !default;

// 小尺寸
$input-height-sm: 1.2rem !default;
$input-margin-y-sm: .4rem !default;
$input-margin-x-sm: .3rem !default;
$input-padding-y-sm: 0rem !default;
$input-padding-x-sm: .2rem !default;















