@import "thy-ui/style/common";

.e-link {
  text-decoration: none;
  font-weight: 500;
  font-size: .8rem;
  margin: 5px 5px;
  padding: 0;
}

.e-link-underline {
  &:hover {
    text-decoration: underline;
  }
}

.e-link-primary {
  color: $primary;
}
.e-link-success {
  color: $success;
}
.e-link-info {
  color: $info;
}
.e-link-warning {
   color: $warning;
 }
.e-link-danger {
    color: $danger;
  }

.e-link-disabled {
  cursor: not-allowed;
  opacity: .5;
}

.e-link-disabled:hover {
  text-decoration: none;
}



